name: Lean Action CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5
      - uses: leanprover/lean-action@v1
      - name: Run tests
        run: lake build tests && ./.lake/build/bin/tests
